html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212; /* Dark background for dark mode */
    color: #ffffff; /* Light text color for contrast */
    height: 100%;
    width: 100%; /* Make sure the html and body elements are at least as tall as the viewport */
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
}

body {
    transition: background-image 2s ease-in-out; /* Smooth transition for background image change */
    background: no-repeat center center fixed; /* No repeat, centered, and fixed position */
    background-size: 100% 100%; /* Stretch the background image to cover the entire screen */
}

#buttonContainer {
    display: flex;
    flex-wrap: wrap; /* Allow the container to wrap elements */
    justify-content: space-evenly; /* Evenly space the elements */
    gap: 10px; /* Reduced space between button groups */
    width: 95%; /* Increased width */
    top: 25px;
    position: fixed;
}

.button-container {
    display: flex;
    flex-direction: column; /* Stack logo and button vertically */
    align-items: center; /* Center-align the contents */
    width: 19%; /* Smaller width to fit more items per row */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2% 2%;
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 10px;
}

.button-logo {
    pointer-events: none; /* Prevents dragging of images */
    width: auto; /* Maintain aspect ratio */
    height: 15vh; /* Adjusted height for more space */
    margin-bottom: 10px; /* Reduced space between logo and button */
}

button {
    position: relative;
    padding: 2vh 2vw; /* Adjust padding for aesthetics */
    white-space: nowrap; /* Keeps text on a single line */
    overflow: hidden; /* Prevents text from spilling out */
    text-overflow: ellipsis; /* Adds an ellipsis if text is too long */
    border: none;
    cursor: pointer;
    font-size: 16px; /* Adjust font size as needed */
    border-radius: 5px; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transition for all changes */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 0;
}

/* Differentiate play and download button colors */
button.play {
    background-color: #228f29; /* Green background */
    color: #ffffff;
}

button.play:hover {
    background-color: #31c33a; /* Darker green on hover */
}

button.play::before {
    border-radius: 5px;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #228f29;
    z-index: -1;
    transition: width 10s linear;
}

button.play.filling::before {
    width: 100%;
}

button.play.reset::before {
    transition: none;
    width: 0;
}

/* Update button with distinct style */
button.update {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
    background-color: #f44336; /* Red background for attention */
    color: #ffffff;
    width: 300px; /* Fixed width for consistency */
    font-size: 16px; /* Smaller font size */
    border-radius: 10px; /* More pronounced rounded corners */
}

button.update:hover {
    background-color: #da190b; /* Darker red on hover */
}

#version-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px; /* Smaller font size */
    padding: 5px 0; /* Padding for visibility */
    pointer-events: none;
}

html,
body,
button,
#buttonContainer,
.button-container,
.button-logo {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}
